
# Build / cache
# Editor junk
# Global safety
# Logs
# Node / Backend
# macOS
*.log
.DS_Store
.env
.idea/
.vercel
.vscode/
backend/.env
backend/.env.*
backend/build/
backend/dist/
backend/node_modules/
backend/npm-debug.log*
backend/yarn-error.log*
node_modules/
